.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 50px;
    height: 30%;
}

.profileContainer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#1f1e33, #3a3952, #1f1e33);
}

.fullName, 
.link,
.profile-technologies {
    color: white;
}